body{
	background-color: #000055;
	color: #ffffff;
}

table{
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	display: inline-block;
	margin: 100px 10%;
	border-radius: 0px 0px 10px 0px;
}

td{
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	background-color: #551155;
	border-radius: 10px 2px 2px 2px;
}
